.social-item {
    color:white;
}

.social-name {
    display:inline-block;
    position: absolute;
    padding-bottom: 20px;
    vertical-align: center;
    height: 50px;
    line-height:50px;
}

.social-img{
    width: 50px;
    height: 50px;
    border-radius:5px;
    margin-right: 20px;
    margin-bottom: 15px;
    clear: right;
}

@media only screen and (min-device-width: 800px) {

}